<div class="modal-dialog" role="document">
  <div class="modal-content">    
    <div class="modal-body">      
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">                                
            <div class="opacity well-base">
              <h3 class="text-center"><span class="text-muted"><i class="fa fa-user text-dark" aria-hidden="true"></i> Add User</span></h3>
              <hr> 
              <form name="form_add_user">
                <fieldset>
                  <div class="form-group">
                    <input class="form-control" placeholder="Username" type="text" ng-model="a_user.username" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <input class="form-control" placeholder="Email" type="email" ng-model="a_user.email" class="form-control" required>
                  </div> 
                  <div class="form-group">
                    <input class="form-control" placeholder="Password" type="password" ng-model="a_user.password_1" class="form-control" required>
                  </div>                        
                  <div class="form-group">
                    <input class="form-control" placeholder="Password" type="password" ng-model="a_user.password_2" class="form-control" required>
                  </div> 
                  <div class="form-group">                    
                    <select id="type" ng-model="a_user.type" name="type" ng-options="ut.name for ut in users_type"  class="form-control custom-select" required>
                        <option value="">Select user type</option>
                    </select>
                  </div>                          
                  <div class="form-group">
                      <button type="button" class="btn btn-dark btn-block" ng-disabled="form_add_user.$invalid" ng-click="add_user(a_user)">Add</button>
                  </div>
                </fieldset>
              </form>                           
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>