<div style="height:4em">.</div>
<div class="container-fluid well" style="height:{{height_screen_dashboard}}px;">
  <div class="row">
    <div class="col-md-12">  	
      <br>
      <h1 class="text-muted">        
        <i class="fa fa-connectdevelop text-secondary" aria-hidden="true"></i> Dashboard                
      </h1>
      <hr>
      <br>
      <div class="row">        
        <div class="col-md-2 cursor" ng-repeat="(key, db) in dashboard">
          <div class="card text-white bg-dark mb-3" style="max-width: 20rem;width:70%;">
            <a ng-href="{{db.url}}" style="text-decoration:none;color:white;">
              <div class="card-header text-center">{{db.name}}</div>
              <div class="card-body">
                <h4 class="card-title text-center"><i class="fa {{db.icon}} text-lg" aria-hidden="true"></i></h4>                
              </div>
            </a>  
          </div>
        </div>                
      </div>   
      <br>
      <div style="height:20em">.</div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-muted"><i class="fa fa-thumb-tack text-danger" aria-hidden="true"></i>  Shortcuts</h2>
        </div>
      </div>
    </div>    
  </div>
</div>