<div style="height:5em">.</div>
<div class="container-fluid well" style="height:{{height_screen_dashboard}}px;">
  <div class="row">
    <div class="col-md-12">  	
      <br>
      <h1 class="text-muted"><i class="fa fa-database text-danger" aria-hidden="true"></i> Dashboard</h1>
      <hr>
      <br>
      <div class="row">        
        <div class="col-md-2 cursor">
          <div class="card text-white bg-danger mb-3" style="max-width: 20rem;width:70%;">
            <a ng-href="/#/branches" style="text-decoration:none;color:white;">
              <div class="card-header">Branches</div>
              <div class="card-body">
                <h4 class="card-title text-center"><i class="fa fa-map-marker text-lg" aria-hidden="true"></i></h4>
                <p class="card-text text-center">Branch management.</p>
              </div>
            </a>  
          </div>
        </div>                
      </div>   
      <br>
      <div style="height:20em">.</div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-muted"><i class="fa fa-thumb-tack text-danger" aria-hidden="true"></i>  Shortcuts</h2>
        </div>
      </div>
    </div>    
  </div>
</div>


<!--<div class="col-md-2">
   <div ng-include="'/views/menu.html'"></div>
</div>-->