<loading></loading>
<div style="height:4em">.</div>
<div class="container-fluid" style="height:{{height_screen_dashboard}}px;">
  <div class="row">
    <div class="col-md-10">   
      <br>
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-muted"><i class="fa fa-cube text-secondary" aria-hidden="true"></i> Node <small class="pull-right cursor"><i class="fa fa-plus" aria-hidden="true" data-toggle="modal" data-target="#add_node" ></i></small></h1>
        </div>        
      </div>
      <hr>
      <br>                  
      <div ng-repeat = "n in node">      
        <div class="card border-dark mb-3" style="max-width: 20rem;float:left;margin-left:5em;width:20em;">
          <div class="card-header text-light bg-dark">            
            <div class="row">
              <div class="col-md-9">
                <i class="fa fa-cubes" aria-hidden="true"></i>                
              </div>
              <div class="col-md-1 cursor" >                       
                <a href="/#/node/{{n.id}}" class="icon-see-node"><i class="fa fa-eye" aria-hidden="true"></i></a>
              </div>                                          
              <div class="col-md-1 cursor" ng-click="del_node()">                       
                <i class="fa fa-trash" aria-hidden="true"></i>         
              </div>              
            </div>
          </div>
          <div class="card-body text-info">            
            <h4 class="card-title text-center"> <small class="text-xs text-info"> <i class="fa fa-circle" aria-hidden="true"></i> </small> <a href="/#/node/{{n.id}}" style="text-decoration:none;" class="text-dark"> {{n.sku}}</a></h4>    
            <hr>
            <p><span class="text-muted">NodeKey</span> | {{n.nodekey}}</p>                                 
            <p><span class="text-muted">Manufacturer</span> | {{n.manufacturer}}</p>   
            <p><span class="text-muted">Version</span> | {{n.version}}</p>
            <p><span class="text-muted">Segment</span> | {{n.segment_name}}</p>
            <p><span class="text-muted">Added By</span> | {{n.username}}</p>
            <p><span class="text-muted">Registered at</span> | {{n.date | date:'medium'}} </p>
            <hr>            
          </div>         
        </div>
      </div>
    </div> 
    <div class="col-md-2">
       <div ng-include="'/views/menu.html'"></div>
    </div>
  </div>    
</div>

<!-- Modales -->
<div class="modal fade" id="add_node" tabindex="-1" role="dialog" aria-labelledby="add_node" aria-hidden="true">  
  <div ng-include="'views/nodes/add_node.html'"></div>
</div>
<!-- Modales -->  